*{
    margin: 0;
    padding: 0;
}

body{
    background-position: top;
    background-size: 250% 170%;
    background-repeat: no-repeat;
}

header{
    margin:auto;
    text-align:center;
}

footer{
    margin:auto;
    text-align:center;
    display: flex;
    justify-content: center;
}

#titulo{
    margin-top: 106px;
    font-size: 90%;
}

#mensagem{
    text-align: center;
    padding: 25px;
    margin-top: 17px;
    font-weight: 600;
    font-size: 105%;
}

.espaço{
    width: 100%;
}

#espaço-container{
    width: 70%;
    margin: auto;
    border-radius: 17px;
    background-color: #63f2ff50;
}

#rodape{
    position: fixed;
    bottom: 0;
}

#img{
    text-align: center;
}

#imagem{
    width: 139px;
}

#mensagem2{
    margin: auto;
    text-align: center;
    padding: 18px;
    font-weight: 600;
    font-size: 100%;
}