*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial;
    background-position: top;
    background-size: 121% 156%;
}

header{
    margin:auto;
    text-align:center;
}

footer{
    margin:auto;
    text-align:center;
    display: flex;
    justify-content: center;
}

#titulo{
    margin-top: 91px;
}

#mensagem{
    text-align: center;
    padding: 25px;
    margin-top: 17px;
    font-weight: 600;
}

.espaço{
    width: 100%;
}

#espaço-container{
    width: 26%;
    margin: auto;
    border-radius: 17px;
    background-color: #63f2ff50;
}

#rodape{
    position: fixed;
    bottom: 0;
}

#img{
    text-align: center;
}

#imagem{
    width: 160px;
}

#mensagem2{
    margin: auto;
    text-align: center;
    padding: 18px;
    font-weight: 600;
}